<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2014 Jonathan Nelson
  ~ Released under the BSD license.  For details see the COPYING file.
  -->
<manifest
    package="org.ciasaboark.tacere"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- android:versionCode="7" -->
    <!-- android:versionName="2.0.4 beta" -->

    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".Tacere"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <uses-library android:name="android.test.runner"/>

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".activity.ProUpgradeActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_pro_upgrade"
            android:theme="@style/DialogNoTitle">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ciasaboark.tacere.activity.MainActivity"/>
        </activity>
        <activity
            android:name=".activity.BugReportActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_bug_report"
            android:theme="@style/DialogNoTitle">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ciasaboark.tacere.activity.MainActivity"/>
        </activity>
        <activity
            android:name=".activity.LicenseCheckWrapper"
            android:label="@string/title_activity_license_check_wrapper">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/settings_title"
            android:parentActivityName=".activity.MainActivity">
            <intent-filter>
                <action android:name="org.ciasaboark.tacere.activity.SettingsActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ciasaboark.tacere.activity.MainActivity"/>
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/about_title"
            android:parentActivityName=".activity.MainActivity">
            <intent-filter>
                <action android:name="org.ciasaboark.tacere.activity.AboutActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ciasaboark.tacere.activity.MainActivity"/>
        </activity>
        <activity
            android:name=".activity.ShowUpdatesActivity"
            android:theme="@style/Dialog"/>
        <activity
            android:name=".activity.DonationActivity"
            android:theme="@style/Dialog"/>
        <activity
            android:name=".activity.SelectCalendarsActivity"
            android:label="@string/title_activity_select_calendars"
            android:parentActivityName=".activity.SettingsActivity"
            android:theme="@style/DialogOnLargeDisplay">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ciasaboark.tacere.activity.SettingsActivity"/>
        </activity>
        <activity
            android:name=".activity.AboutLicenseActivity"
            android:label="@string/about_license_title"
            android:parentActivityName=".activity.AboutActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ciasaboark.tacere.activity.AboutActivity"/>
        </activity>
        <activity
            android:name=".activity.AdvancedSettingsActivity"
            android:label="@string/advanced_settings_title"
            android:parentActivityName=".activity.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ciasaboark.tacere.activity.SettingsActivity"/>
        </activity>
        <activity
            android:name=".activity.TutorialActivity"
            android:label="Wizard"
            android:theme="@style/Tutorial">
        </activity>
        <activity
            android:name=".activity.BetaSettingsActivity"
            android:label="@string/title_activity_beta_settings">
        </activity>
        <activity
            android:name=".widget.activity.WidgetPopupRinger"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_widget_popup_ringer"
            android:launchMode="singleInstance"
            android:theme="@style/Dialog">
        </activity>

        <activity
            android:name=".activity.BetaReleaseActivity"
            android:label="@string/title_activity_beta_release"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ciasaboark.tacere.activity.MainActivity"/>
        </activity>


        <service
            android:name=".service.EventSilencerService"
            android:exported="false">
            <intent-filter>
                <action android:name="org.ciasaboark.tacere.EventSilencerService"/>
            </intent-filter>
        </service>
        <service
            android:name=".service.SkipEventService"
            android:exported="false">
            <intent-filter>
                <action android:name="org.ciasaboark.tacere.SkipEventService"/>
            </intent-filter>
        </service>
        <service
            android:name=".service.ExtendQuicksilenceService"
            android:exported="false">
            <intent-filter>
                <action android:name="org.ciasaboark.tacere.ExtendQuicksilenceService"/>
            </intent-filter>
        </service>
        <service
            android:name=".service.ExtendEventService"
            android:exported="false">
            <intent-filter>
                <action android:name="org.ciasaboark.tacere.ExtendEventService"/>
            </intent-filter>
        </service>
        <service
            android:name=".service.ResetEventService"
            android:exported="false">
            <intent-filter>
                <action android:name="org.ciasaboark.tacere.ResetEventService"/>
            </intent-filter>
        </service>

        <receiver
            android:name=".receiver.BootCompletedReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.ProviderChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PROVIDER_CHANGED"/>

                <data android:scheme="content"/>
                <data android:host="com.android.calendar"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".widget.QuickSilenceWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="Tacere - Quicksilence 3x1">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/quicksilence_widget_info"/>
        </receiver>
        <receiver
            android:name=".widget.QuickSilenceTinyWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="Tacere - Quicksilence 1x1">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/quicksilence_tiny_widget_info"/>
        </receiver>

        <!-- <receiver -->
        <!-- android:name=".widget.EventListWidgetProvider" -->
        <!-- android:label="Tacere - Events" -->
        <!-- android:icon="@drawable/ic_launcher"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.appwidget.action.APPWIDGET_UPDATE" /> -->
        <!-- </intent-filter> -->
        <!-- <meta-data android:name="android.appwidget.provider" -->
        <!-- android:resource="@xml/event_list_widget_info" /> -->
        <!-- </receiver> -->

        <receiver
            android:name=".widget.ActiveEventWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="Tacere - Active Event">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_active_event_info"/>
        </receiver>

    </application>

</manifest>