<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2014 Jonathan Nelson
  ~ Released under the BSD license.  For details see the COPYING file.
  -->
<manifest
    package="org.ciasaboark.tacere"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- android:versionCode="7" -->
    <!-- android:versionName="2.0.4 beta" -->

    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <uses-library android:name="android.test.runner"/>

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activity.MainActivity">
            <intent-filter>
                <action android:name="org.ciasaboark.tacere.activity.SettingsActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ciasaboark.tacere.activity.MainActivity"/>
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".activity.MainActivity">
            <intent-filter>
                <action android:name="org.ciasaboark.tacere.activity.AboutActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ciasaboark.tacere.activity.MainActivity"/>
        </activity>
        <activity
            android:name=".activity.ShowUpdatesActivity"
            android:theme="@style/Dialog">
        </activity>
        <activity
            android:name=".activity.EventLongclickActivity"
            android:theme="@style/Dialog">
        </activity>
        <activity
            android:name=".activity.DonationActivity"
            android:theme="@style/Dialog">
        </activity>
        <activity
            android:name=".activity.SelectCalendarsActivity"
            android:label="@string/title_activity_select_calendars"
            android:parentActivityName=".activity.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ciasaboark.tacere.activity.SettingsActivity"/>
        </activity>
        <activity
            android:name=".activity.AboutLicenseActivity"
            android:label="@string/title_activity_about_activity_license"
            android:parentActivityName=".activity.AboutActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ciasaboark.tacere.activity.AboutActivity"/>
        </activity>
        <activity
            android:name=".activity.AdvancedSettingsActivity"
            android:label="@string/title_activity_advanced_settings"
            android:parentActivityName=".activity.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ciasaboark.tacere.activity.SettingsActivity"/>
        </activity>

        <service
            android:name=".service.EventSilencerService"
            android:exported="false">
            <intent-filter>
                <action android:name="org.ciasaboark.tacere.EventSilencerService"/>
            </intent-filter>
        </service>
        <service
            android:name=".service.SkipEventService"
            android:exported="false">
            <intent-filter>
                <action android:name="org.ciasaboark.tacere.SkipEventService"/>
            </intent-filter>
        </service>
        <service
            android:name=".service.ResetEventService"
            android:exported="false">
            <intent-filter>
                <action android:name="org.ciasaboark.tacere.ResetEventService"/>
            </intent-filter>
        </service>

        <receiver
            android:name=".receiver.BootCompletedReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.ProviderChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PROVIDER_CHANGED"/>

                <data android:scheme="content"/>
                <data android:host="com.android.calendar"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.Tutorial"
            android:label="@string/title_activity_tutorial"
            android:theme="@style/Transparent">
        </activity>
    </application>

</manifest>