<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ciasaboark.tacere"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.ciasaboark.tacere.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.ciasaboark.tacere.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="org.ciasaboark.tacere.MainActivity" >
            <intent-filter>
                <action android:name="org.ciasaboark.tacere.SettingsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ciasaboark.tacere.MainActivity" />
        </activity>
        <activity
            android:name="org.ciasaboark.tacere.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName="org.ciasaboark.tacere.MainActivity" >
            <intent-filter>
                <action android:name="org.ciasaboark.tacere.AboutActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ciasaboark.tacere2.MainActivity" />
        </activity>

        <service
            android:name="org.ciasaboark.tacere.PollService"
            android:exported="false" >
            <intent-filter>
                <action android:name="org.ciasaboark.tacere.PollService" />
            </intent-filter>
        </service>

        <receiver
            android:name="org.ciasaboark.tacere.PollServiceReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
		   android:name="org.ciasaboark.tacere.ProviderChangedReceiver">
		        <intent-filter>
		            <action android:name="android.intent.action.PROVIDER_CHANGED"/>
		            <data android:scheme="content"/>
		            <data android:host="com.android.calendar"/>
		        </intent-filter>
		</receiver>
        <receiver android:name="QuickSilenceProvider" >
            <intent-filter >
                <action 
                    android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/quicksilence_widget_info" />
        </receiver>

        <activity
            android:name="org.ciasaboark.tacere.AboutActivityLicense"
            android:label="@string/title_activity_about_activity_license"
            android:parentActivityName="org.ciasaboark.tacere.AboutActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ciasaboark.tacere.AboutActivity" />
        </activity>
        <activity
            android:name="org.ciasaboark.tacere.AdvancedSettingsActivity"
            android:label="@string/title_activity_advanced_settings"
            android:parentActivityName="org.ciasaboark.tacere.SettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ciasaboark.tacere.SettingsActivity" />
        </activity>
    </application>

</manifest>
