<?xml version="1.0" encoding="utf-8"?>

<!--
  ~ Copyright (c) 2014 Jonathan Nelson
  ~ Released under the BSD license.  For details see the COPYING file.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.viewpagerindicator"
    android:versionCode="65"
    android:versionName="2.4.1">

    <uses-sdk android:minSdkVersion="4" />
</manifest>
